/* Container for the navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2A2A2A;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Dark theme when scrolling */
.nav-container.dark {
  background-color: #333;
}

/* Logo styling */
.logo img {
  height: 60px;
  border-radius: 5%;
  padding-left: 32px;
}

/* Hamburger menu styling */
.hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  padding-right: 40px;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #CB7804;
  margin: 6px;
  transition: all 0.3s ease;
}

/* Hamburger line transitions when menu is open */
.line.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation Links */
.nav-links {
  list-style-type: none;
  display: none;  /* Hidden by default */
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  padding: 10px 20px;
  text-align: left;
  transition: background-color 0.3s ease, width 0.3s ease, border-bottom 0.3s ease;
  display: block;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.uleffect {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #CB7804;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

.nav-links li a:hover .uleffect {
  transform: scaleX(1);
}

.nav-links li a.active {
  background-color: transparent;
}

.nav-links li a.active .uleffect {
  transform: scaleX(1);
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  max-height: 100vh;
  margin-bottom: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: 1000;
  background-color: #2A2A2A;
  margin-left: auto;
  transition: width 0.3s ease-in-out;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* Media query for small devices (hide underline effect and keep background color for active link) */
@media screen and (max-width: 768px) {
  .uleffect {
    display: none; /* Remove underline effect for small devices */
  }

  .nav-links li a.active {
    background-color: #CB7804; /* Add background color for active link */
    border-radius: 10px;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    padding-right: 4rem;
    margin: 0;
  }

  .nav-links li {
    margin: 0 20px;
  }

  .nav-links li a {
    border: none;
    padding: 10px 0;
  }

  .hamburger {
    display: none;
  }
}








.nav-links .highlight a,
.nav-links .highlight {
  color: #007e6a !important; /* ZAMSOF green */
  font-weight: 600;
}

.nav-links .highlight:hover {
  color: #004c3f !important;
}
